* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
h2 {
    display: inline-block;       
    border-bottom: 3px solid #0070f3; 
    width: 50%;  
    max-width: 16rem;                
    padding-bottom: 5px;  
    margin-bottom: 2rem;
    margin-top: 2rem;    
}

ul {
    list-style-type: square;
    margin-left: 1rem;
    margin-bottom: 1rem;
}