---
import Perfil from "../componet/toyota/Perfil.astro"
import Info from "../componet/toyota/Info.astro"
import Button from "../componet/toyota/Button.astro"


import "../Styles/globlaToyota.css"
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Holland Toyota</title>
</head>
<body>
    <hero>
        <Perfil />
        <Info />
        <Button />
    </hero>
</body>
</html>