---
---
<div>
    <a href="tel:+18392780101">
        Call me
    </a>
</div>

<style>
    div{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a{
        background-color: #EB0A1E;
        padding: 0.75rem 4rem;
        border-radius: 1rem ;
        color: #fff;
    }
</style>