---
---

<div>
    <img src="/img/Toyota/diego-holland-toyota.png" alt="Diego Holland good locking" />
</div>
<div>
    <h2>Diego Holland</h2>
    <h1>Sales Consultant </h1>
</div>


<style>
    img{
        width: 80%;
        min-width: 20rem;
        align-items: center;
        border-radius: 2rem;
    }
</style>