---
---
<div>
    <h2>Contact:</h2>
    <div>
        <h4>Address:</h4>
        <p>Elgin, South Carolina</p>
    </div>
    <div>
        <h4>Email:</h4>
        <a href="mailto:diegoah200216@gmail.com">diegoah200216@gmail.com</a>
    </div>
    <div>
        <h4>Phone:</h4>
        <a href="tel:+18392780101">+1 (839) 278-0101</a>
    </div>
</div>

<style>
    p {
        margin-bottom: 0.5rem;
    }

    a{
        color: #c4c4c4;
        text-decoration: none;
    }
</style>