---
---
<div>
    <h2>Profile</h2>
    <p>
        Working to become the best web developer, I love Legos and building websites is like having infinite Lego bricks. 
        Creating digital solutions seems like the coolest thing in the world to me.
    </p>
</div>