---
---

<div>
    <h2>Skills</h2>
    <ul>
        <li>JavaScript <span>Basic</span></li>
        <li>HTML & CSS</li>
        <li>React <span>Basic</span></li>
        <li>Astro</li>
        <li>GitHub</li>
        <li>Figma</li>
        <li>Jira</li>
    </ul>
</div>