---
---

<div>
    <h2>Work Experience</h2>
    <h3>Midlands Toyota</h3>
    <p>240 Killian Commons Parkway, Columbia, SC 29203</p>
    <ul>
        <li>Auto Detailer <span>(Nov 2025 - Present)</span></li>
        <li>Assistant Assistant Manager <span>( May 2025 - Nov 2025 7 mos)</span></li>
        <li>Service Porter <span>(Jan 2023 - May 2025 2 yrs 5 mos)</span></li>
    </ul>
</div>

<style>
    p {
        color: #00000083;
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
    }

    span {
        color: #00000083;
    }
</style>